@use '../libs' as *;

.main-wind {
    height: 90vh;
    background-color: gc(bg);
    .suggested-tags {

        display: flex;
        align-items: center;
        overflow-x: scroll;
        border-bottom: 1px solid gc(suggest-tag);
        border-top: 1px solid gc(suggest-tag);
        width: 100%;
        background-color: gc(nav-bg);
        span {
            cursor: pointer;
            font-size: 80%;
            padding: 8px 10px;
            margin: 10px 5px;
            border-radius: 20px;
            background-color: gc(suggest-tag);
            border: 1px solid gc(tag-outline);
        }
    }

    .videos {
        
        height: 90%;
        overflow: scroll;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .video {
            cursor: pointer;
            margin: 11px;
            img {
                height: 140px;
                width: 250px;
                object-fit: cover;
            }
            .info {
                margin-top: 10px;
                margin-bottom: 20px;
                display: flex;
                .left {
                    .pic {
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        background: linear-gradient(0.13turn, transparent, gc(fg));
                    }
                }
                .right {
                    margin-left: 10px;
                    font-size: 14px;
                    // margin: 11px;

                    .title {
                        font-weight: 500;
                        color: gc(v-title);
                        margin-bottom: 10px;
                    }

                    .channel,
                    span {
                        color: gc(v-info);
                        margin-bottom: 5px;

                        i {
                            font-size: 80%;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}
