@use '../libs' as *;

nav {
    padding: 10px 15px;
    background-color: gc(nav-bg);
    display: flex;
    justify-content: space-between;
    i{
        color: gc(nav-icons);
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        &:hover{
            background-color: gc(side-hover);
        }
    }

    .left-icons {
        display: flex;
        align-items: center;
        position: relative;

        .yt-play {
            cursor: pointer;
            margin-left: 20px;
            height: 20px;
        }

        .yt-text {
            cursor: pointer;
            position: absolute;
            transform: translate(85px);

            height: 18px;
            &#ytw{
                opacity: 0;
            }
        }
    }

    .searchBar {
        width: 45vw;
        color: gc(fg);

        @include flex-center;
        input {
            outline: none;
            width: 90%;
            font-size: 16px;
            height: 30px;
            border: 1px solid gc(search-outline);
            background-color: gc(bg);
            padding-left: 20px;
            color: gc(fg);

            &::placeholder {
                color: gc(search-placeholder);
            }

            &:focus {
                border: 1px solid gc(search-focus);
            }
        }

        .searchBtn {
            cursor: pointer;
            width: 10%;
            height: 32px;
            border: 1px solid gc(search-outline);
            border-left: none;
            background-color: gc(search-button);
            color: gc(search-icon);
            @include flex-center;
        }
    }

    .right-icons {
        @include flex-center;

        & > * {
            margin-right: 10px;
        }

        .darkMode {
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                background-color: gc(side-hover);
            }
        }

        i {
            font-size: 110%;
        }

        .notifications {
            position: relative;

            .notify-num {
                position: absolute;
                background-color: rgb(255, 0, 0);
                color: #fff;
                border-radius: 50%;
                font-size: 70%;
                width: 16px;
                height: 16px;
                margin-left: 10px;
                margin-top: -10px;
                transform: translate(10px, -22px);
                @include flex-center;
            }
        }

        img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            margin: 0 15px;
        }
    }
}
