
- 
    function darkmode() {
        let i = document.querySelector('fa-bars');
        i.onclick = () => {
            i.classList.toggle('dark')
        }

    }

doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='styles/main.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' integrity='sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==' crossorigin='anonymous')

    title Document
body
    include ../components/nav.pug
    .layout
        include ../components/side-bar.pug
        include ../components/main-wind.pug

script. 
    window.onload = () => {
        let i = document.querySelector('.darkMode');
        console.log(i);
        i.onclick = () => {
            bd = document.querySelector('body');
            bd.classList.toggle('dark');
            if (i.innerHTML === 'Dark Mode'){
                i.innerHTML = 'Light Mode'
            } else {
                i.innerHTML = 'Dark Mode'
            }
        };
    }


