nav
    .left-icons
        i.fas.fa-bars
        img(src="imgs/youTube-logo.png" alt="youtube-logo")
        //- i.fab.fa-youtube
    .searchBar
        input(type="text" placeholder="Search")
        .searchBtn
            i.fas.fa-search
    .right-icons
        .darkMode Dark Mode
        i.fas.fa-video
        i.fas.fa-th
        span.notifications
            i.fas.fa-bell
            span.notify-num
                p 5
        img(src="imgs/fox.jpg", alt="fox")