.side-bar
    section.main
        li.option
            i.fas.fa-home
            span.option-name Home
        li.option
            i.fas.fa-fire
            span.option-name Trending
        li.option
            i.fas.fa-layer-group
            span.option-name  Subscriptions

    section.main-extended
        li.option
            i.fas.fa-book
            span.option-name Library
        li.option
            i.fas.fa-clock
            span.option-name History
        li.option
            i.fas.fa-play
            span.option-name Your Videos

    section.subscriptions
        h2 SUBSCRIPTIONS
        li.option
            img(src="imgs/prof-1.jpg", alt="")
            span.option-name Hillary Stone
            .new
        li.option
            img(src="imgs/prof-2.jpg", alt="")
            span.option-name Greg Blair
        li.option
            img(src="imgs/prof-3.jpg", alt="")
            span.option-name Megan Silver
        li.option
            img(src="imgs/prof-4.jpg", alt="")
            span.option-name Joe Petinski
            .new
        li.option
            img(src="imgs/prof-5.jpg", alt="")
            span.option-name Lucy Grayson

    section.more
        h2 MORE FROM YOUTUBE
        li.option
            i.fab.fa-youtube
            span.option-name YouTube Premium
        li.option
            i.fas.fa-film
            span.option-name Movies and Shows
        li.option
            i.fas.fa-gamepad
            span.option-name Gaming
        li.option
            i.fas.fa-plug
            span.option-name Live
        li.option
            i.fas.fa-tshirt
            span.option-name Fashion &amp; Beauty
        li.option
            i.fas.fa-lightbulb
            span.option-name Learning

    section.more
        li.option
            i.fas.fa-cog
            span.option-name Settings
        li.option
            i.fas.fa-flag
            span.option-name Report history
        li.option
            i.fas.fa-question-circle
            span.option-name Help
        li.option
            i.fas.fa-exclamation-circle
            span.option-name Send feedback