@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap");
:root {
  --bg: #f9f9f9;
  --fg: black;
  --scroll-bar: #e5e5e5;
  --nav-bg: #ffffffe7;
  --search-outline: #D3D3D3;
  --search-button: #f8f8f8;
  --search-icon: #6f6f6f;
  --search-focus: rgba(16, 129, 235, 0.904);
  --search-placeholder: #656565;
  --nav-icons: #606060;
  --suggest-tag: #f2f2f2;
  --tag-outline: #d9d9d9;
  --tag-section-border: #e5e1e2;
  --v-title: #030303;
  --v-info: #606060;
  --side-icon: #606060;
  --side-hover: #e5e5e5;
  --side-header: #606060;
  --new-video: #065FD4;
}

.dark {
  --bg: #181818;
  --fg: #fff;
  --scroll-bar: rgba(255, 255, 255, 0.178);
  --nav-bg: #202020;
  --search-outline: #313131;
  --search-button: #313131;
  --search-icon: #6f6f6f;
  --search-focus: rgba(16, 129, 235, 0.904);
  --search-placeholder: #656565;
  --nav-icons: #fff;
  --suggest-tag: #373737;
  --tag-outline: #4b4b4b;
  --v-title: #fff;
  --v-info: #aaa;
  --side-icon: #909090;
  --side-hover: #383838;
  --side-header: #aaa;
  --new-video: #3EA6FF;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  overflow: hidden;
  font-family: Roboto, Arial, sans-serif;
  transition: all 0.4s;
}
body img {
  height: 80px;
}

/* Scrollbar  */
::-webkit-scrollbar {
  width: 9px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-bar);
}

::-webkit-scrollbar-corner {
  color: transparent;
}

.layout {
  display: flex;
}

nav {
  padding: 10px 15px;
  background-color: var(--nav-bg);
  display: flex;
  justify-content: space-between;
}
nav i {
  color: var(--nav-icons);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
nav i:hover {
  background-color: var(--side-hover);
}
nav .left-icons {
  display: flex;
  align-items: center;
  position: relative;
}
nav .left-icons .yt-play {
  cursor: pointer;
  margin-left: 20px;
  height: 20px;
}
nav .left-icons .yt-text {
  cursor: pointer;
  position: absolute;
  transform: translate(85px);
  height: 18px;
}
nav .left-icons .yt-text#ytw {
  opacity: 0;
}
nav .searchBar {
  width: 45vw;
  color: var(--fg);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .searchBar input {
  outline: none;
  width: 90%;
  font-size: 16px;
  height: 30px;
  border: 1px solid var(--search-outline);
  background-color: var(--bg);
  padding-left: 20px;
  color: var(--fg);
}
nav .searchBar input::placeholder {
  color: var(--search-placeholder);
}
nav .searchBar input:focus {
  border: 1px solid var(--search-focus);
}
nav .searchBar .searchBtn {
  cursor: pointer;
  width: 10%;
  height: 32px;
  border: 1px solid var(--search-outline);
  border-left: none;
  background-color: var(--search-button);
  color: var(--search-icon);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .right-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .right-icons > * {
  margin-right: 10px;
}
nav .right-icons .darkMode {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
nav .right-icons .darkMode:hover {
  background-color: var(--side-hover);
}
nav .right-icons i {
  font-size: 110%;
}
nav .right-icons .notifications {
  position: relative;
}
nav .right-icons .notifications .notify-num {
  position: absolute;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  font-size: 70%;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  margin-top: -10px;
  transform: translate(10px, -22px);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .right-icons img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 0 15px;
}

.side-bar {
  height: 90vh;
  min-width: 240px;
  overflow: scroll;
  background-color: var(--nav-bg);
}
.side-bar section {
  border-top: 1px solid var(--scroll-bar);
  padding: 10px 0;
}
.side-bar section:first-of-type {
  border-top: none;
}
.side-bar section h2 {
  padding: 10px 0;
  padding-left: 24px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  color: var(--side-header);
}
.side-bar .option {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  height: 40px;
  line-height: 21px;
  padding: 0px 24px;
  display: flex;
  align-items: center;
}
.side-bar .option:hover {
  background-color: var(--side-hover);
}
.side-bar .option img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
}
.side-bar .option i {
  position: absolute;
  color: var(--side-icon);
  font-size: 120%;
}
.side-bar .option span {
  margin-left: 25%;
}
.side-bar .option .new {
  position: absolute;
  right: 20px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--new-video);
}

.main-wind {
  height: 90vh;
  background-color: var(--bg);
}
.main-wind .suggested-tags {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  border-bottom: 1px solid var(--suggest-tag);
  border-top: 1px solid var(--suggest-tag);
  width: 100%;
  background-color: var(--nav-bg);
}
.main-wind .suggested-tags span {
  cursor: pointer;
  font-size: 80%;
  padding: 8px 10px;
  margin: 10px 5px;
  border-radius: 20px;
  background-color: var(--suggest-tag);
  border: 1px solid var(--tag-outline);
}
.main-wind .videos {
  height: 90%;
  overflow: scroll;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main-wind .videos .video {
  cursor: pointer;
  margin: 11px;
}
.main-wind .videos .video img {
  height: 140px;
  width: 250px;
  object-fit: cover;
}
.main-wind .videos .video .info {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
}
.main-wind .videos .video .info .left .pic {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: linear-gradient(0.13turn, transparent, var(--fg));
}
.main-wind .videos .video .info .right {
  margin-left: 10px;
  font-size: 14px;
}
.main-wind .videos .video .info .right .title {
  font-weight: 500;
  color: var(--v-title);
  margin-bottom: 10px;
}
.main-wind .videos .video .info .right .channel,
.main-wind .videos .video .info .right span {
  color: var(--v-info);
  margin-bottom: 5px;
}
.main-wind .videos .video .info .right .channel i,
.main-wind .videos .video .info .right span i {
  font-size: 80%;
  margin-left: 5px;
}
